.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 9rem;
}

.categories a {
  background-color: #f2dea0;
  color: #a63838;
  padding: 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.categories a:hover {
  background-color: #bf7f5a;
  transform: translateY(-5px);
  cursor: pointer;
}
