.categories h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.categories {
  padding: 20px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #bc87ba;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0.5rem;
}

.card:hover {
  background-color: #d8b0e2;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}
