.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-left: 9;
  margin-bottom: 2rem;
}

.breadcrumbs a {
  color: #f2dea0;
}

.breadcrumbs li + li::before {
  content: "›";
  margin: 0 0.5rem;
  color: #f2dea0;
}

.productMain {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
}

.productbillede {
  flex: 1;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.purchaseBox {
  flex: 0 0 300px;
  padding: 1rem;
}

.purchaseBox h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.purchaseBox h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.purchaseBox p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.info {
  color: #f2dea0;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.info h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #522929;
}

dt {
  font-size: large;
  font-weight: bold;
  color: #522929;
}

dl {
  line-height: 1.6;
}

h1 {
  color: #522929;
}

/* Buttons */
button {
  background: #522929;
  color: #f2dea0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  background: #bf7f5a;
}

.form {
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .productMain {
    flex-direction: column;
    align-items: center;
  }

  .purchaseBox {
    width: 100%;
  }
}
