main {
  padding: 20px;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h4 {
  color: #a5a5a5;
}

.products {
  position: relative;
  background-color: #292929;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 290px;
  box-sizing: border-box;
  cursor: pointer;
}

.products a {
  color: #fff;
}

.products .readmore {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.products .soldout .label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(236, 52, 52, 0.9);
  color: #000;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  border-radius: 4px;
}

.products .soldout img {
  opacity: 0.5;
  filter: grayscale(90%);
}

.discounted .badge {
  position: absolute;
  top: 10px;
  right: -260px;
  background: red;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  font-weight: bold;
}

.rabat {
  color: rgb(206, 23, 23);
}

.discounted p {
  display: inline-block;
}

.productContainer img {
  height: 360px;
  width: auto;
  display: block;
}
