body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #b94a48;
}

main {
  padding-top: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo img {
  height: 60px;
  width: auto;
  display: block;
}

nav a {
  margin-left: 14px;
  text-decoration: none;
  color: #522929;
  font-size: 20px;
  font-weight: bolder;
}

nav a:hover {
  color: #f2ec9b;
}
